*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(176, 75, 235);

}
body div.calculadora1{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 240px;
    margin: 0 auto;
    background: #3f0764cb;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, .65);

}
div input[type='button'], button{
    width: 40px;
    height: 40px;
    margin: 3px 0;
}
div input[type='text']{
    height: 40px;
    width: 200px;
    background-color: #f2ebd5;
    color: black;
    padding: 12px 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border:  2px solid #777;
}
div.resultado input,div.resultado button{
    height: 40px;
    width: 85px;
    margin-top: 2px;
    margin-bottom: 8px;
    border-radius: 4px;

}
div .resultado button{
    background-color:rgb(230, 101, 101);
    color: white;
    border:  1px solid #a91225;

}
div .resultado input{
    background-color:rgb(116, 137, 231);
    color: white;
    border:  1px solid #3f5de2;
    cursor: pointer;
}
div.resultado input:hover{
    background: #3f5de2;
}
#suma, #resta, #mult, #div, #porc{
    background-color: #0a9b9b;
    color: white;
    border: 1px solid #777;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
